body {
  background-color:  #c6cbdd; 
  font: "Roboto", sans-serif;
}
header{
  padding: 0 0 30px 0;
}
main{
  padding: 30px 0;
}
footer{
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0,0,0, 0.6);
  font-weight: 900;
}
a{
  color:  #430f58; 
}

.search-form-input{
   background-color:  #c6cbdd; 
   border: none;
   border-radius: 5px;
   width: 80% ;
   padding: 15px 20px;
   font-size: 17px;



}
.search-form-button{
  background: #430f58; 
  margin-left: 5px;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  color: #c6cbdd; 
  font-size: 17px;

}


.weather-details{
  background: linear-gradient(to top, #6fb1fc, #4364f7, #0052d4);
  max-width: 600px;
  margin: 40px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100,0.00);
  padding: 30px;
  border-radius: 10px;

}
.weather-app-city{
  margin: 0;
  font-size: 38px;
  line-height: 40px;

}
/* details of the icon, value and unit */
.weather-app-temp{
  display: flex;
  font-weight: bold;
}
/* degrees */
.weather-app-temp-value{
  font-size: 88px;
}

/* emoji */
.weather-app-temp-icon{
  font-size: 40px;
  margin-top: 20px;
}
/* degrees celcius */
.weather-app-temp-unit{
  margin-top: 23px;
  font-size: 20px;
  font-weight: bold;
}

/* details of the humidity and wind */
.weather-app-details{
  font-size: 20px;
  line-height: 20px;
  color: rgba(15, 10, 41, 0.6)

}
.weather-app-details strong{
  color: #430f58; 
} 

/* details of the city, day, humidity, wind, and moderate rain */
.weather-app-data{
  display: flex;
  justify-content: space-between;

}